
.theme About Pumpkin Zone
.description Pumpkin is a fast growing brand setup by Sunil Steel Industries in Pressure Cookers and in Cookwares
%hr.theme_divider
= image_tag('about_us.jpg', :alt => "rss feed", :class => 'theme_img')
.text
  Sunil Steel Industries, established in year 1989, a well-established name in the north region of the country, situated at city Sunam in state Punjab, engaged in making various products. From circle to all kind of wrought aluminium kitchenware, pressure cooker to commercial top/pot (dega) and now hard anodized cookwares.
.text
  Using the finest r&d and manufacturing facilities, we develop new products, machines & dies in house, which save money, time, repairing cost, proper maintenance & this leads to develop new techniques.
.text
  We believe our blend of industry-leading products, domain knowledge, project management skills & extensive experience help us to deliver good products that can help you to improve quality of food service.
.text
  We continuously strive to add fine tune our knowledge base in ordered to harness newer cutting edge technologies in our field. The company remain focused on ascending the value chain in the marketing of various products (aluminium kitchenware, pressure cooker, commercial top (dega) etc.) Globally. The new addition in this range is hard anodized cookwares.
.text
  In India, we are selling our products directly to our distributers in various states Punjab, Haryana, J&K, Himachal Pradesh, Delhi, U.P., Uttarakhand, Rajasthan states and some other states like Maharashtra, Gujarat and Andhra Pradesh are covered by our distributers. Our drive for internationalization is guided by a well planned brand strategy. As per for more than two decades we believe in continuing growth of our products and our companies in all aspects as per modern technologies & management.