div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.center{
  text-align: center;
  height: 50px;
  font-size: 25px;
  font-weight: 400 !important;
  color: #444444 !important;
  text-rendering: optimizeLegibility !important;
  font-family: "Amazon Ember",Arial,sans-serif !important;
  background-color: white;
  border-width: 2px;
}

.view_all{
  top: 3px !important;
  margin-left: 15px;
}

.row{
  margin-left: 0px !important;
}


msg{
  color: #500000;
}

.pumpkin-logo {
  width: 156px;
}

.nav-tabs > li > a {
  border: none;
}

.page-title{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  overflow: hidden;
  clear:both;
}

.menubar {
  width: 1440px;
}

.page-title h1{
  background: url('logo.jpg') no-repeat;
  text-indent: -9999px;
  float:left;
}

.color-white {
  color: white;
}

.orange-color{
  background-color: #f7931d;
}

.checkout-btn{
  width: 15%;
  border-radius: 5px;
  float: right;
  font-size: 13px;
}

a.color-white:hover{
  color: #f7931d;
}

.page-title div.loginInfo{
  float:right;
  padding: 20px 0px 0px;
  text-shadow: black 2px 1px 2px;
}

.page-title div.loginInfo a{
  color: #7ecae0;
}

.fa-shopping-cart{
  margin-left: 800px;
}



.view_more{
  text-align: center;
  transition: opacity .35s ease;
  border: solid 1px black;
}



.quick_look {
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  border: solid 2px black;
  z-index: 1;
}

.container:hover .quick_look {
  opacity: 1;
}

.cart-count{
  font-size: 35px;
}

.page-title div.loginInfo span{
  font-weight: bold;
}

.carousel-inner > .item > img {
  width:100%;
  height: 300px !important;
}


body{
  background: url('header_bg.png') repeat-x;
}

.span12>hr{
  border-color: rgb(207, 207, 207);
}

.row.vertical-divider {
  margin-top: 1%;
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  border-left: 1px solid #eeeeee;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}


.footer{
  text-align: center;
  padding: 10px 0px;
  font-size: 11px;
}

.custom{
  padding-left: 30px !important;
  margin-top: -25px !important;
}



a:hover{
  text-decoration: none;
}


h3{
  font-size: 20px;
  font-weight: bold;
  padding: 0px 0px 20px;
  margin: 0px;
}

.h2{
  font-size: 21px !important;
  font-weight: 400 !important;
  color: #444444 !important;
  text-rendering: optimizeLegibility !important;
  font-family: "Amazon Ember",Arial,sans-serif !important;
}

h4{
  font-size: 14px;
  font-weight: bold;
}

h5.message{
  font-size:16px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs a {
  color: #0d0e0e;
  font-size: 16px;
  font-weight: bold;
  text-shadow: white 1px 1px 1px;
}

.nav-tabs{
  list-style: none;
  padding-top: 15px;
  margin-left: 0px;
}

.see_more{
  padding-left: 5px;
}

.pageContainer{
  background: #ffffff;
  padding-right: 50px;
}

.type{
  margin-top: 30px;
}

.product{
  border-radius: 5px;
  border: #cfcfcf 1px solid;
  height: 350px;
  background-color: #eaebeb;
  box-shadow: 3px 3px 3px 3px #CCCCCC;
}

.product > img {
  width: 100%;
  height: 45%;
}

.product > input {
  margin-left: 30%;
  margin-top: 10px;
}

.theme{
  background-color: #eaebeb;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
}

.theme_divider{
  margin-top: 0 !important;
  margin-bottom: 0px !important;
  border-color: black !important;
}

.theme_img{
  width: 80%;
  margin-left: 10%;
}

#myModal{
 margin-top: 12%;
}

.description{
   padding-top: 10px;
   text-align: center;
   font-weight: bold;
   background-color: #eaebeb;
 }

.text{
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  line-height: 20px;
  font-family: sans-serif;
  text-align: left;
  font-weight: 500;
  font-size: large;
}

#table tr:nth-child(odd) input:disabled  {
  background-color: #f9f9f9;
  cursor: auto;
}

#table tr:nth-child(even) input:disabled {
  background-color: #eaebeb;
  cursor: auto;
}

#table tr:hover input:disabled {
  background-color: #f5f5f5;
}

.page-right{
  float: right;
}

.pumpkin-logo{
  margin-left: 10px;
}

.shopping-cart{
  padding-right: 4%;
}

.contact-details{
  padding-right: 2%;
}

.footer{
  background-color: gray;
  margin-top: 1%;
}

.email-details{
  padding-right: 5px;
}

.nav-tabs > li > ul {
  position: absolute;
  left:  542px;
  top: 126px;
  list-style: none;
  background-color: #fff;
  padding-right: 15px;
  padding-left: 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: none;
}
.nav-tabs > li > ul > li {
  padding:  4px;
}
.nav-tabs >  li:hover > ul {
  display: block;
}

.modal-body label {
  padding-top: 5px;
}