/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media all and (max-width: 1100px) {
  body{
    font-size: 12px !important;
  }

  .mobile{
    display: none !important;
  }

  .menu_bar{
    margin-top: 7% !important;
  }

  .name {
    height: 60px !important;
  }

  .product > a {
    margin-left: 16% !important;
  }

  .form_field > .col-md-2 {
    text-align: center !important;
  }
}

@media all and (max-width: 900px) {
  body{
    font-size: 10px !important;
  }

  .mobile{
    display: none !important;
  }

  .menu_bar{
    margin-top: 10% !important;
  }

  .name {
    height: 60px !important;
  }

  .product > a {
    margin-left: 10% !important;
  }

  .form_field > .col-md-2 {
    text-align: center !important;
  }
}

.category_nav {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.active_nav {
  color: white !important;
  background-color: #444444 !important;
}


.center{
  text-align: center;
  height: 50px;
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #444444 !important;
  text-rendering: optimizeLegibility !important;
  font-family: "Amazon Ember", Arial, sans-serif !important;
  background-color: white;
  border-width: 2px;
  width: 100%;
}

.static {
  position: fixed !important;
}

.header {
  position: fixed;
  z-index: 1000;
  background: url('header_bg.png') repeat-x;
  height: 130px !important;
  margin-right: 0px !important;
}

.menu_bar {
  position: fixed;
  z-index: 1000;
  margin-top: 5%;
  padding-left: 1% !important;
}

.nav-tabs {
  border-bottom: 0px !important;
}

.content {
  position: relative;
}

.view_all {
  top: 3px !important;
  margin-left: 1.5%;
}

.navbar-default {
  background-color: white !important;
  border-color: transparent !important;
}

.name {
  height: 45px;
}

.fixed_image {
  height: 240px !important;
}

.fixed_quick_view {
  height: 175px !important;
}

.row {
  margin-left: 0px !important;
}

.form_field {
  margin-top: 2%;
}

.form_field > .col-md-2 {
  text-align: right;
}

.h2.form_field {
  text-align: center;
  text-decoration: underline;
}

msg {
  color: #500000;
}

.footer-link > a {
  color: #333333;
}

.nav-tabs > li > a {
  border: none;
}

.page-title {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  overflow: hidden;
  clear: both;
}

.pumpkin-logo {
  margin-top: -0.7%;
  height: 80px;
}

.pumpkin-logo > img {
  max-height: 100% !important;
}

.color-white {
  color: white;
}

.orange-color {
  background-color: #f7931d !important;
  border-color: #f7931d !important;
}

.checkout-btn {
  width: 60%;
  border-radius: 5px;
  margin-left: 20%;
  margin-top: 17%;
}

a.color-white:hover {
  color: #f7931d;
}

.page-title div.loginInfo {
  float: right;
  padding: 20px 0px 0px;
  text-shadow: black 2px 1px 2px;
}

.page-title div.loginInfo a {
  color: #7ecae0;
}

.header_cart {
  margin-top: 0.4%;
}

.view_more {
  text-align: center;
  transition: opacity .35s ease;
  border: solid 1px black;
}

.col-md-offset-4 > .quick_look {
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  border: solid 2px black;
  z-index: 1;
}

.container:hover .quick_look {
  opacity: 1;
}

.cart-count {
  font-size: 35px;
}

.page-title div.loginInfo span {
  font-weight: bold;
}

.carousel-inner > .item > img {
  width: 100%;
  height: 300px !important;
}

//body{
//  background: url('header_bg.png') repeat-x;
//}

.span12 > hr {
  border-color: rgb(207, 207, 207);
}

.row.vertical-divider {
  margin-top: 1%;
  overflow: hidden;
}

.row.vertical-divider > div[class^="col-"] {
  border-left: 1px solid #eeeeee;
}

.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}

.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

.footer {
  text-align: center;
  padding: 10px 0px;
  font-size: 11px;
}

a:hover {
  text-decoration: none;
}

.h2 {
  font-size: 150% !important;
  font-weight: 400 !important;
  color: #444444 !important;
  text-rendering: optimizeLegibility !important;
  font-family: "Amazon Ember", Arial, sans-serif !important;
}

h4 {
  font-size: 100%;
  font-weight: bold;
  color: #0066c0 !important;
  text-rendering: optimizeLegibility !important;
}

h5 {
  font-size: 100% !important;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs a {
  color: #0d0e0e;
  font-size: 16px;
  font-weight: bold;
  text-shadow: white 1px 1px 1px;
}

.nav-tabs {
  list-style: none;
  padding-top: 15px;
  margin-left: 0px;
}

.quantity {
  text-align: center !important;
}

.view_in_detail {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.no_padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.trash-icon{
  color: #6e6e6e;
}

.cart-product{
  color: #434343 !important;
  font-size: 14px;
  text-transform: capitalize;
  font-family: dinnextproregular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.checkout-price{
  font-size: 14px;
  font-family: dinnextprobold;
  color: #434343;
  font-weight: bold;
}

.update-btn{
  width: 100px;
  color: #fff;
  background-color: #333 !important;
  border-color: #333 !important;
  border: none;
  font-family: dinnextproregular;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 20px;
  height: 50px;
  letter-spacing: 1px;
}

.add-to-cart-btn {
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.see_more {
  padding-left: 5px;
}

.pageContainer {
  background: #ffffff;
  padding-right: 50px;
}

.type {
  margin-top: 2.8%;
}

.product {
  border-radius: 5px;
  border: #cfcfcf 1px solid;
  height: 350px;
  background-color: #eaebeb;
  box-shadow: 3px 3px 3px 3px #CCCCCC;
}

.form {
  border: #e3e3e3 1px solid;
  background-color: #f5f5f5;
  padding-bottom: 20px;
}

.product > img {
  width: 100%;
  height: 45%;
}

.product > a {
  background-color: buttonface;
  border-radius: 2px;
  border-color: black;
  color: #444444;
  margin-left: 27%;
  margin-top: 2%;
}

.theme {
  background-color: #eaebeb;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
}

.theme_divider {
  margin-top: 0 !important;
  margin-bottom: 0px !important;
  border-color: black !important;
}

.theme_img {
  width: 80%;
  margin-left: 10%;
}

.modal-dialog {
  margin-top: 15% !important;
  width: 80% !important;
  margin-left: 10% !important;
}

.modal-body {
  padding: 0px !important;
}

.modal-body > .row {
  margin-right: 0px;
  height: 350px;
}

.product_image {
  padding-top: 6%;
  padding-bottom: 3%;
  width: 80% !important;
  padding-left: 10%;
}

.product_name{
  color: #6e6e6e;
  display: block;
  font-size: 14px;
  font-family: dinnextproregular;
}

.product_price{
  color: #434343;
  font-size: 16px;
  text-align: center;
  font-family: dinnextproregular;
}

.description {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #eaebeb;
}

.product-details{
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #eaebeb;
  top: 20%;
  height: 50%;
}

.text {
  padding-top: 1.5%;
  padding-right: 3.5%;
  padding-left: 3.5%;
  font-family: sans-serif;
  text-align: left;
  font-weight: 500;
  font-size: large;
}

#table tr:nth-child(odd) input:disabled {
  background-color: #f9f9f9;
  cursor: auto;
}

#table tr:nth-child(even) input:disabled {
  background-color: #eaebeb;
  cursor: auto;
}

#table tr:hover input:disabled {
  background-color: #f5f5f5;
}

.footer {
  background-color: gray;
  margin-top: 1%;
}

.nav-tabs > li:hover > ul {
  display: block;
}

.order-details {
  width: 100%;
}

.success-msg {
  color: white;
  background-color: #333333;
  font-size: 100%;
  padding-left: 2%;
}

.search-box {
  width: 100%;
  margin-top: 2%;
}
