%script{:src => "https://code.jquery.com/jquery-2.1.4.min.js"}
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"}

.pageContainer
  .row.vertical-divider
    .col-xs-2
      %hr
      .categories
        %h3.title Categories
        .category
          %a{href: '/about_us'} Pumpkin Pressure Cookers
        .category
          %a{href: '/about_us'} Royal Finish Cookware
        .category
          %a{href: '/about_us'} Hard Anodized Cookware
        .category
          %a{href: '/about_us'} Induction Cookware
        .category
          %a{href: '/about_us'} Anodized Cookware
      %hr
      .product
        .theme New Launch
        = image_tag('new_launch_home.png', :alt => "rss feed", :class => "img-responsive")
        .description Pumpkin launches its new products Elantra in Pressure Cookers and Hard Anodized Cookwares
        %a.btn.button.view_more{href: '/about_us'} View More
      %hr
      .product
        .theme About Us
        = image_tag('about_us_home.png', :alt => "rss feed", :class => "img-responsive")
        .description Pumpkin is a fast growing brand setup by Sunil Steel Industries in Pressure Cookers and in Cookwares
        %a.btn.button.view_more{href: '/about_us'} View More
    .col-xs-10
      %hr
        - @products.each_slice(3).to_a.each do |product_row|
          = render "product_row", product_row: product_row, order_item: @order_item
